.StartPage,
.PageQuiz,
.PageResult {
  display: flex;
}

.PageOne {
  width: 50%;
  display: block;
  text-align: center;
}

.PageTwo {
  width: 50%;
}

.StartPage .ShowRules {
  width: 50%;
  text-align: center;
}

.StartPage .StartQuiz {
  width: 50%;
  margin: auto;
}